<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>This is sample App for Ad.</h2>

  <br><br><br>
  <button ion-button full (click)="showVideoRewardsAd()">Watch Video Ad</button>
  <br><br><br>
  
  <br><br><br>
  <button ion-button full (click)="showInterstitialAd()">Show Image Ad</button>
  <br><br><br>

  <br><br><br>
  <button ion-button full (click)="showBannerAd()">Show Banner Ad</button>
  <br><br><br>

</ion-content>
